@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@import url(normalize.css);

html,
body {
  font-family: "Montserrat", sans-serif;
}

button {
  padding: 0;
  border: none;
  background: none;
}

:root {
  --primary-gradient: linear-gradient(258deg, #59ffb9 0%, #326cff 100%);
  --primary-color: #212427;
}

h2 {
  text-align: center;
  font-family: Montserrat;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.header {
  top: 2rem;
}

.banner {
  background-image: url("static/images/bg-banner.png");
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.nav {
  padding: 25px 35px;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);
  width: 100%;
}

.nav-menu {
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  list-style: none;
  outline: none;
  gap: 6rem;
}

.navbar-button {
  background: var(--primary-gradient);
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  gap: 10px;
}

.banner-logo {
  display: flex;
  height: 17.25rem;
  justify-content: start;
  width: 100%;
  align-items: center;
  flex-shrink: 0;
}

.banner-btn {
  display: inline-flex;
  width: fit-content;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #ffc73c;
  box-shadow: 0px 18px 40px 12px rgba(255, 211, 103, 0.35);
  font-weight: 700;
  color: white;
}

.about {
  display: inline-flex;
  padding: 137px 123px;
  justify-content: center;
  align-items: start;
}

.about-btn {
  border-radius: 100px;
  background: #ffc73c;
  box-shadow: 0px 18px 40px 12px rgba(255, 211, 103, 0.35);
  padding: 15px 25px;
  font-weight: 700;
  color: white;
}

.about-card {
  padding: 32px;
}

.about-card {
  padding: 32px;
  border-radius: 32px;
  background: linear-gradient(237deg, #59ffb9 -30.09%, #326cff 71.21%);
}

.about-card-title {
  color: #fff;
  text-align: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 48px;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.sponsors {
  gap: 30px;
  background: linear-gradient(249deg, #59ffb9 -31.85%, #326cff 101.31%);
  padding: 60px 0px;
  overflow-x: scroll;
}

.sponsors-list {
  overflow-x: scroll;
}

.sponsor {
  padding: 10px;
  width: 291px;
  height: 144px;
  border-radius: 0.5rem;
}

.sponsor-title {
  color: white;
}

.gallery {
  display: inline-flex;
  padding: 12.0625rem 11.9375rem;
  justify-content: center;
  align-items: center;
}

.gallery-sudirman {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}

.gallery-sudirman-title {
  color: var(--primary-color);
}

.articles {
  background-image: url(static/images/articles-bg.png),
    lightgray 0px 659px / 100% 59.296% no-repeat;
  display: inline-flex;
  padding: 10.1875rem 7.5625rem 24.9375rem 7.5625rem;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}

.articles-title {
  color: var(--primary-color);
}

.articles-menu {
  margin: 3rem 0 4rem 0;
  background: linear-gradient(239deg, #59ffb9 -37.86%, #326cff 92.79%);
  backdrop-filter: blur(25px);
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  width: fit-content;
  font-weight: 600;
  line-height: normal;
}

.articles-menu-item {
  display: flex;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex: 1 0 0;
}

.articles-button {
  display: flex;
  padding: 0.9375rem 1.5625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  font-weight: 700;
  text-align: center;
  color: white;
  border-radius: 6.25rem;
  background: #ffc73c;
  box-shadow: 0px 18px 40px 12px rgba(255, 211, 103, 0.35);
}

.article-card {
  width: fit-content;
  border-radius: 1.5rem 1.5rem 0 0;
}

.article-image {
  border-radius: 1.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  width: 100%;
  cursor: pointer;
}

.article-image-wrapper {
  border-radius: 1.5rem;
  overflow: hidden;
}

.article-title {
  font-size: 1rem;
}

.article-image:hover {
  transform: scale(1.05);
}

.articles-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 3rem;
}

.footer {
  display: flex;
  padding: 3.125rem 4.375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.875rem;
  background: #28a997;
}
