@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@import url(normalize.css);
@import url(swiper.css);

html,
body {
  font-family: "Montserrat", sans-serif;
}

button {
  padding: 0;
  border: none;
  background: none;
}

:root {
  --primary-gradient: linear-gradient(258deg, #59ffb9 0%, #326cff 100%);
  --primary-color: #212427;
  --hover-color: #ff9a3c;
}

h2 {
  text-align: center;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

/* Header */
.header {
  top: 2rem;
  z-index: 99999;
}

/* Banner */
.banner {
  background-image: url("../static/images/bg-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: flex;
  align-items: start;
  min-height: 100svh;
}

.banner-logo {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-top: 10rem;
}

.banner-btn {
  padding: 15px 25px;
  gap: 10px;
  border-radius: 100px;
  background: #ffc73c;
  box-shadow: 0px 18px 40px 12px rgba(255, 211, 103, 0.35);
  font-weight: 700;
  color: white;
}

.banner-btn:hover {
  background: #ff9a3c;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media only screen and (max-width: 991px) {
  .banner-logo {
    width: 22.9375rem;
  }
}

@media only screen and (min-width: 991px) {
  .banner {
    align-items: center;
  }

  .banner-logo {
    margin-top: 0;
  }
}

/* Nav */
.nav {
  padding: 1rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);
  border-radius: 100px;
  width: 100%;
}

.nav-mobile {
  padding: 1rem 1.5rem;
  justify-content: space-between;
  border-radius: 20px 20px 0 0;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);
  width: 100%;
}

.nav-menu {
  display: none;
}

.nav-btn {
  background: var(--primary-gradient);
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  gap: 10px;
}

.nav-btn {
  background: var(--primary-gradient);
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  gap: 10px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  gap: 3rem;
}

.nav-menu-mobile {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: start;
  border-radius: 0 0 20px 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);
  width: 100%;
  font-weight: bold;
  gap: 2rem;
}

.nav-menu-mobile-list {
  text-align: center;
  width: 100%;
}

.open-category-btn {
  padding: 0.8rem;
  border-radius: 100%;
}

@media only screen and (max-width: 991px) {
  .nav-menu {
    display: none;
  }
}

.show-nav-menu-mobile {
  display: flex;
}

@media only screen and (min-width: 991px) {
  .nav {
    padding: 25px 35px;
  }

  .open-category-btn {
    display: none;
  }

  .show-nav-menu-mobile {
    display: none;
  }

  .nav-mobile {
    padding: 25px 35px;
    border-radius: 100px;
    display: none;
  }
}

/* About */
.about {
  padding: 137px 0.5rem;
}

.about-card-vertical-list {
  margin-top: 25px;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-btn {
  border-radius: 100px;
  background: #ffc73c;
  box-shadow: 0px 18px 40px 12px rgba(255, 211, 103, 0.35);
  padding: 15px 25px;
  font-weight: 700;
  color: white;
}

.about-btn:hover {
  background: #ff9a3c;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.about-card {
  padding: 1.5rem;
  border-radius: 32px;
  background: linear-gradient(237deg, #59ffb9 -30.09%, #326cff 71.21%);
  width: fit-content;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.about-card-title {
  font-size: 1.5rem;
  color: #fff;
  text-align: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.about-card-description {
  font-weight: 600;
}

.about-special-performance {
  display: flex;
  flex-direction: column;
}

.about-special-performance-image-wrapper {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.about-special-performance-image {
  aspect-ratio: 4/3;
  border-radius: 1rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
}

.about-special-performance-image:hover {
  transform: scale(1.05);
}

.about-special-performance-description {
  margin-top: 25px;
}

.about-card-map-image-wrapper {
  border-radius: 1rem;
  width: 100%;
}

.about-card-map-image {
  aspect-ratio: 4/3;
  width: 100%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
}

.about-card-map-image:hover {
  transform: scale(1.05);
}

@media only screen and (min-width: 991px) {
  .about {
    padding: 137px 123px;
  }

  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }

  .about-special-performance-description {
    margin-top: 0;
  }

  .about-special-performance-image-wrapper {
    width: 11.125rem;
    height: 11.125rem;
    flex-shrink: 0;
    margin-right: 1rem;
  }

  .about-special-performance-image {
    aspect-ratio: 1/1;
  }

  .about-special-performance {
    flex-direction: row;
  }

  .about-card-title {
    font-size: 2.25rem;
  }

  .about-card-vertical-list {
    margin-top: 0;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
  }
}

/* Sponsors */
.sponsors {
  gap: 30px;
  background: linear-gradient(249deg, #59ffb9 -31.85%, #326cff 101.31%);
  padding: 3.75rem 0rem;
  overflow: hidden;
}

.sponsors-list {
  overflow: hidden;
}

.sponsor {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  min-width: 18.1875rem;
  max-width: 100%;
  width: 100%;
  white-space: nowrap;
  height: 9rem;
  gap: 0.625rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.sponsor-title {
  color: white;
}

.sponsor-image {
  width: 13.5rem;
  height: 5.875rem;
}

/* Gallery */
.gallery {
  display: inline-flex;
  padding: 8rem 1rem;
  justify-content: center;
  align-items: center;
}

.gallery-sudirman {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-sudirman-title {
  color: var(--primary-color);
}

@media only screen and (min-width: 991px) {
  .gallery {
    padding: 12.0625rem 11.9375rem;
  }
}

/* Articles */
.articles {
  background-image: url(../static/images/articles-bg.png);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: contain;
  padding: 8rem 1rem;
}

.articles-title {
  color: var(--primary-color);
}

.articles-menu {
  margin: 3rem 0 4rem 0;
  background: linear-gradient(239deg, #59ffb9 -37.86%, #326cff 92.79%);
  backdrop-filter: blur(25px);
  color: #fff;
  text-align: center;
  width: fit-content;
  font-weight: 600;
  line-height: normal;
}

.articles-menu-item {
  display: flex;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex: 1 0 0;
}

.articles-btn {
  display: flex;
  padding: 0.9375rem 1.5625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  font-weight: 700;
  text-align: center;
  color: white;
  border-radius: 6.25rem;
  background: #ffc73c;
  box-shadow: 0px 18px 40px 12px rgba(255, 211, 103, 0.35);
}

.articles-btn:hover {
  background: #ff9a3c;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.article-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.article-card-content {
  margin-top: 0;
}

.article-image {
  border-radius: 1rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
  height: 100%;
}

.article-image:hover {
  transform: scale(1.05);
}

.article-image-wrapper {
  border-radius: 1rem;
  overflow: hidden;
  aspect-ratio: 1/1;
  margin-right: 1rem;
  min-width: 100px;
  width: 100px;
  max-width: 100%;
}

.article-title {
  font-size: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.article-title:hover {
  color: var(--hover-color);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.articles-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#with-photos-article {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0.3125rem;
  background: rgba(33, 36, 39, 0.5);
  color: white;
  font-weight: 600;
  border-radius: 0.3rem;
}

#with-videos-article {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0.3125rem;
  background: rgba(33, 36, 39, 0.5);
  color: white;
  font-weight: 600;
  border-radius: 0.3rem;
}

.tab-button-active {
  border-radius: 6.25rem;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 768px) {
  .articles {
    padding: 10.1875rem 7.5625rem 24.9375rem 7.5625rem;
  }

  .article-card {
    display: block;
    border-radius: 1.5rem 1.5rem 0 0;
  }

  .articles-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 3rem;
  }

  .article-image-wrapper {
    border-radius: 1.5rem;
    margin-right: 0;
    aspect-ratio: 4/3;
    min-width: auto;
    width: auto;
  }

  .article-image {
    border-radius: 1.5rem;
    width: 100%;
  }

  .article-card-content {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 991px) {
  .articles-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }
}

/* Footer */
.footer {
  display: flex;
  padding: 3.125rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  background: #28a997;
}

.footer-description {
  width: fit-content;
  text-align: center;
  margin-bottom: 1rem;
}

.footer-content {
  border-bottom: 2px solid white;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.footer-copyright {
  text-align: center;
}

@media only screen and (min-width: 991px) {
  .footer {
    padding: 3.125rem 4.375rem;
    align-items: flex-start;
  }

  .footer-description {
    text-align: start;
    width: 1008px;
  }

  .footer-copyright {
    text-align: start;
  }

  .footer-content {
    flex-direction: row;
  }
}

.marquee {
  overflow: hidden;
}

.sponsor {
  -moz-animation: marquee 10s linear infinite;
  -webkit-animation: marquee 10s linear infinite;
  animation: marquee 10s linear infinite;
}

@-moz-keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
